#generate_good, #generate_bad{
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24;
}

#generate_design{
    background-color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24;
    margin-left: 15px;
}

div p{
    background-color: lightgrey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-right:15px;
    height: 300px;
    width: 500px;
    overflow-y: scroll;

}

a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size:32;
}

#subtitle{
    font-family: Arial, Helvetica, sans-serif ;
    font-style: italic;
    margin-top: 25px;
    margin-left:5px;
    font-size:20;
}

.containter{
    margin: 10px;
}

#vertical { 
    border-left: 6px solid black; 
    height: 850px; 
    position:absolute; 
    left: 50%; 
} 

#critique_title {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size:24;
    color:#848484;
    margin-left:15px
}


.column_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
}

.column_right{
    margin-left:50px;
}

#design_pic, #good_design_pic, #bad_design_pic{
    margin: 15px;
    height: 320px;
    width: 500px;
    margin-bottom: 5px;
}

.redeign_container{
    width:150px;
    margin-bottom: 25px;
}

#redesign_pic0,#redesign_pic1,#redesign_pic2{
    height:220px;
    width: 350px;
    margin-bottom: 5px;
    margin-left:15px;
    display: inline-block;
}

.redesign_rank{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20;
    margin-left:40px;
    width:100px;
    display: inline-block;
}